@charset "UTF-8";
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* переменные для текста */
/* переменные для цвета текста */
.container {
  margin: 0 auto;
  width: 1110px;
  background-color: #FFFFFF;
}

h2 {
  font-size: 48px;
  font-weight: 800;
}

.card-flex-group1 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card-flex_item-right {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.card-flex_item {
  position: relative;
  margin-top: 25px;
}

.card-flex_item h3, .card-flex_item span {
  position: absolute;
  color: #18191F;
  margin-left: 24px;
}

.card-flex_item h3 {
  margin-top: 24px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
}

.card-flex_item span {
  margin-top: 72px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.card-flex_item_cactus {
  margin-top: 20px;
}

.card-flex-group2 {
  margin-top: -328px;
  display: flex;
  align-items: flex-end;
}
